* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    position: absolute;
    width: 100%;
    height: 100vh;
}
.filters {
    position: absolute;
    top: 0;
    width : 100%;
    height : 20%;
}
.list {
    position: absolute;
    bottom: 0;
    width : 100%;
    height : 80%;
}
.item {
    background-color: gray;
    visibility: hidden;
}
.item, .title, .pagination {
    width : 100%;
    height: 14.3%;
    border: 1px solid black;
}
.title {
    position: relative;
    border-top: 0px;
    height: 10%;
    color:white;
    background-color: black;
}
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: large;
}
.labels {
    height: 4.3%;
    width: 100%;
    color: white;
    background-color: black;    
}
.label1, .label2, .label3, .label4{
    float: left;
    width: 25%;
    text-align: center;
    font-size: larger;
}
.label3 {
    text-align: right;
    padding-right: 1.5%;
}
.username, .password, .button1, .button2 {
    float: left;
    width : 25%;
    height : 100%;
    position: relative;
}
.filters .button1 input, .filters .button2 input {
    width: 50%;
}
input {
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 10px;
    
}
.quit {
    position: absolute;
    right: 0;
    top : 50%;
    transform: translateY(-50%);
    border: 1px solid black;
    padding: 10px;
    width : 25%;
}
.update {
    color: white;
    background-color: green;
}
.delete {
    color: white;
    background-color: red;
}
.quit {
    color: white;
    background-color: blue;
}
input, button {
    border-radius: 5px;
}
.button {
    width : 25%;
}
.button:hover, .quit:hover {
    cursor: pointer;
}
.pagination {
    position: absolute;
    bottom: 0;
    background-color: black;
}
.backpage {
    position: absolute;
    top : 50%;
    left: 5%;
    transform: translateY(-50%);
}
.backpage input {
    color: white;
    background-color: black;
}
.previous {
    position: absolute;
    top : 50%;
    right: 10%;
    transform: translateY(-50%);
    width: 3%;
    height : 50%;
}
.next {
    position: absolute;
    top : 50%;
    right: 5%;
    transform: translateY(-50%);
    width: 3%;
    height : 50%;
}
#prev_btn {
    position: absolute;
    width: 100%;
    height: 100%;
}
#next_btn {
    position: absolute;
    width: 100%;
    height: 100%;
}
.pagination input:hover {
    cursor: pointer;
    
}
.label_item_username {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    visibility: hidden;
    font-size: small;
}
#prev_btn:hover, #next_btn:hover {
    cursor: pointer;
}