<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/admin_problem.css">
    <title>Document</title>
</head>
<body>
    <div class="filters">
        <div class="row1">
            <div class="problemtipiID">
                <input type="number" name="problemtipiID" placeholder="Problem Tipi ID" id="filter_problemtipiID">
                <label for="problemtipiID" class="label_item_problemID" style="color: black;">Başka Problem Tipi ID ile aynı</label>
            </div>
            <div class="problemtanimi">
                <input type="text" name="problemtanimi" placeholder="Problem Tanımı" id="filter_problemtanimi">
            </div>
            <div class="problemitanimlayiciadi">
                <input type="text" name="problemitanimlayiciadi" placeholder="Problemi Tanımlayıcı Adı" id="filter_problemitanimlayiciadi">
            </div>
            <div class="problemitanimlayicisoyadi">
                <input type="text" name="problemitanimlayicisoyadi" placeholder="Problemi Tanımlayıcı Soyadı" id="filter_problemitanimlayicisoyadi">
            </div>
        </div>
        <div class="row2">
            <div class="problemitanimlayantcnopasaportno">
                <input type="text" name="problemitanimlayantcnopasaportno" placeholder="Problemi Tanımlayan TC-Pasaport No" id="filter_problemitanimlayantcnopasaportno">
            </div>
            <div class="hedeflenenamactanimi">
                <input type="text" name="hedeflenenamactanimi" placeholder="Hedeflenen Amaç Tanımı" id="filter_hedeflenenamactanimi">
            </div>
            <div class="button">
                <input type="button" value="Problem Oluştur" class="button" id="filter_create" style="color:white;background-color: green;">
            </div>
            <div class="button">
                <input type="button" value="Problem Listele" class="button" id="filter_list" style="color:white;background-color: blue;">
            </div>
        </div>
    </div>
    <div class="list">
        <div class="title">
            <div class="text">PROBLEM TABLOSU</div>
        </div>
        <div class="labels">
            <div class="label1">
                <div class="label11">Problem Tipi ID</div>
                <div class="label12">Problemi Tanımlayan TC-Pasaport No</div>
            </div>
            <div class="label2">
                <div class="label21">Problem Tanımı</div>
                <div class="label22">Hedeflenen Amaç Tanımı</div>
            </div>
            <div class="label3">Problemi Tanımlayıcı Adı</div>
            <div class="label4">Problemi Tanımlayıcı Soyadı</div>
        </div>
        <div class="item1 item">
            <div class="row1">
                <div class="problemtipiID">
                    <input type="number" name="problemtipiID" class="item_problemtipiID">
                    <label for="problemtipiID" class="label_item_problemID" style="color: black;">Başka Problem Tipi ID ile aynı</label>
                </div>
                <div class="problemtanimi">
                    <input type="text" name="problemtanimi" class="item_problemtanimi">
                </div>
                <div class="problemitanimlayiciadi">
                    <input type="text" name="problemitanimlayiciadi" class="item_problemitanimlayiciadi">
                </div>
                <div class="problemitanimlayicisoyadi">
                    <input type="text" name="problemitanimlayicisoyadi" class="item_problemitanimlayicisoyadi">
                </div>
            </div>
            <div class="row2">
                <div class="problemitanimlayantcnopasaportno">
                    <input type="text" name="problemitanimlayantcnopasaportno" class="item_problemitanimlayantcnopasaportno">
                </div>
                <div class="hedeflenenamactanimi">
                    <input type="text" name="hedeflenenamactanimi" class="item_hedeflenenamactanimi">
                </div>
                <div class="button">
                    <input type="button" value="Güncelle" class="button update" style="color:white;background-color: green;">
                    <input type="button" value="Vazgeç" class="button quit" style="color:white;background-color: blue;">
                </div>
                <div class="button">
                    <input type="button" value="Sil" class="button delete" style="color:white;background-color: red;">
                </div>
            </div>
        </div>
        <div class="item2 item">
            <div class="row1">
                <div class="problemtipiID">
                    <input type="number" name="problemtipiID" class="item_problemtipiID">
                    <label for="problemtipiID" class="label_item_problemID" style="color: black;">Başka Problem Tipi ID ile aynı</label>
                </div>
                <div class="problemtanimi">
                    <input type="text" name="problemtanimi" class="item_problemtanimi">
                </div>
                <div class="problemitanimlayiciadi">
                    <input type="text" name="problemitanimlayiciadi" class="item_problemitanimlayiciadi">
                </div>
                <div class="problemitanimlayicisoyadi">
                    <input type="text" name="problemitanimlayicisoyadi" class="item_problemitanimlayicisoyadi">
                </div>
            </div>
            <div class="row2">
                <div class="problemitanimlayantcnopasaportno">
                    <input type="text" name="problemitanimlayantcnopasaportno" class="item_problemitanimlayantcnopasaportno">
                </div>
                <div class="hedeflenenamactanimi">
                    <input type="text" name="hedeflenenamactanimi" class="item_hedeflenenamactanimi">
                </div>
                <div class="button">
                    <input type="button" value="Güncelle" class="button update" style="color:white;background-color: green;">
                    <input type="button" value="Vazgeç" class="button quit" style="color:white;background-color: blue;">
                </div>
                <div class="button">
                    <input type="button" value="Sil" class="button delete" style="color:white;background-color: red;">
                </div>
            </div>
        </div>
        <div class="item3 item">
            <div class="row1">
                <div class="problemtipiID">
                    <input type="number" name="problemtipiID" class="item_problemtipiID">
                    <label for="problemtipiID" class="label_item_problemID" style="color: black;">Başka Problem Tipi ID ile aynı</label>
                </div>
                <div class="problemtanimi">
                    <input type="text" name="problemtanimi" class="item_problemtanimi">
                </div>
                <div class="problemitanimlayiciadi">
                    <input type="text" name="problemitanimlayiciadi" class="item_problemitanimlayiciadi">
                </div>
                <div class="problemitanimlayicisoyadi">
                    <input type="text" name="problemitanimlayicisoyadi" class="item_problemitanimlayicisoyadi">
                </div>
            </div>
            <div class="row2">
                <div class="problemitanimlayantcnopasaportno">
                    <input type="text" name="problemitanimlayantcnopasaportno" class="item_problemitanimlayantcnopasaportno">
                </div>
                <div class="hedeflenenamactanimi">
                    <input type="text" name="hedeflenenamactanimi" class="item_hedeflenenamactanimi">
                </div>
                <div class="button">
                    <input type="button" value="Güncelle" class="button update" style="color:white;background-color: green;">
                    <input type="button" value="Vazgeç" class="button quit" style="color:white;background-color: blue;">
                </div>
                <div class="button">
                    <input type="button" value="Sil" class="button delete" style="color:white;background-color: red;">
                </div>
            </div>
        </div>
        <div class="pagination">
            <div class="backpage">
                <a href="./" id="mainpage"><input type="button" value="Anasayfaya git"></a>
            </div>
            <div class="previous">
                <button id="prev_btn"><<</button>
            </div>
            <div class="next">
                <button id="next_btn">>></button>
            </div>
        </div>
    </div>
    <script src="../static/js/admin_problem.js"></script>
</body>
</html>