<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/admin_home.css">
    <title>Document</title>
</head>
<body>
    <div class="manage-users manage">
        <div class="f1">KULLANICILAR FORMU</div>
    </div>
    <div class="manage-employees manage">
        <div class="f2">PERSONELLER FORMU</div>
    </div>
    <div class="manage-cities manage">
        <div class="f3">İLLER FORMU</div>
    </div>
    <div class="manage-districts manage">
        <div class="f4">İLÇELER FORMU</div>
    </div>
    <div class="manage-units manage">
        <div class="f5">BİRİMLER FORMU</div>
    </div>
    <div class="manage-problems manage">
        <div class="f6">PROBLEMLER FORMU</div>
    </div>
    <div class="manage-mudahaleler manage">
        <div class="f7">MÜDAHALELER FORMU</div>
    </div>
    <div class="manage-aktiviteler manage">
        <div class="f8">AKTİVİTELER FORMU</div>
    </div>
    <div class="manage-müdahaledetaylar manage">
        <div class="f9">MÜDAHALE DETAYLAR FORMU</div>
    </div>
    <div class="manage-çıktıdetaylar manage">
        <div class="f10">ÇIKTI DETAYLAR FORMU</div>
    </div>
    <div class="exit">
        <button id="exit" style="border-radius: 10px;color: white;background-color: red;">ÇIKIŞ YAP</button>
    </div>
    <div class="nextpage">
       <button id="nextpage" style="border-radius: 10px;color: white;background-color: green;">SONRAKİ SAYFA</button>
    </div>
    <script src="../static/js/admin_home.js"></script>
</body>
</html>