<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/admin_intervention.css">
    <title>Document</title>
</head>
<body>
    <div class="filters">
        <div class="alanID">
            <input type="number" name="alanID" placeholder="Alan ID" id="filter_alanID">
            <label for="alanID" class="label_item_alanID" style="color: black;">Bu Alan ID yok</label>
        </div>
        <div class="sinifID">
            <input type="number" name="sinifID" placeholder="Sınıf ID" id="filter_sinifID">
            <label for="alanID" class="label_item_sinifID" style="color: black;">Bu Sınıf ID yok</label>
        </div>
        <div class="mudahaleID">
            <input type="number" name="mudahaleID" placeholder="Müdahale ID" id="filter_müdahaleID">
            <label for="alanID" class="label_item_mudahaleID" style="color: black;">AlanID + SınıfID + MüdahaleID var</label>
        </div>
        <div class="mudahaleadi">
            <input type="text" name="müdahaleadi" placeholder="Müdahale Adı" id="filter_müdahaleadi">
        </div>
        <div class="button1">
            <input type="button" value="Müdahale Oluştur" class="button" id="filter_create" style="color:white;background-color: green;">
        </div>
        <div class="button2">
            <input type="button" value="Müdahale Listele" class="button" id="filter_list" style="color:white;background-color: blue;">
        </div>
    </div>
    <div class="list">
        <div class="title">
            <div class="text">MÜDAHALE TABLOSU</div>
        </div>
        <div class="labels">
            <div class="label1">ALAN ID</div>
            <div class="label2">SINIF ID</div>
            <div class="label3">MÜDAHALE ID</div>
            <div class="label4">MÜDAHALE ADI</div>
            <div class="label5">GÜNCELLE-VAZGEÇ</div>
            <div class="label6">SİL</div>
        </div>
        <div class="item1 item">
            <div class="alanID">
                <input type="number" name="alanID" class="item_alanID">
                <label for="alanID" class="label_item_alanID" style="color: black;">Bu Alan ID yok</label>
            </div>
            <div class="sinifID">
                <input type="number" name="sinifID" class="item_sinifID">
                <label for="alanID" class="label_item_sinifID" style="color: black;">Bu Sınıf ID yok</label>
            </div>
            <div class="mudahaleID">
                <input type="number" name="mudahaleID" class="item_müdahaleID">
                <label for="alanID" class="label_item_mudahaleID" style="color: black;">AlanID + SınıfID + MüdahaleID var</label>
            </div>
            <div class="mudahaleadi">
                <input type="text" name="müdahaleadi" class="item_müdahaleadi">
            </div>
            <div class="button1">
                <input type="button" value="Güncelle" class="button update">
                <button class="quit">Vazgeç</button>
            </div>
            <div class="button2">
                <input type="button" value="Sil" class="button delete">
            </div>
        </div>
        <div class="item2 item">
            <div class="alanID">
                <input type="number" name="alanID" class="item_alanID">
                <label for="alanID" class="label_item_alanID" style="color: black;">Bu Alan ID yok</label>
            </div>
            <div class="sinifID">
                <input type="number" name="sinifID" class="item_sinifID">
                <label for="alanID" class="label_item_sinifID" style="color: black;">Bu Sınıf ID yok</label>
            </div>
            <div class="mudahaleID">
                <input type="number" name="mudahaleID" class="item_müdahaleID">
                <label for="alanID" class="label_item_mudahaleID" style="color: black;">AlanID + SınıfID + MüdahaleID var</label>
            </div>
            <div class="mudahaleadi">
                <input type="text" name="müdahaleadi" class="item_müdahaleadi">
            </div>
            <div class="button1">
                <input type="button" value="Güncelle" class="button update">
                <button class="quit">Vazgeç</button>
            </div>
            <div class="button2">
                <input type="button" value="Sil" class="button delete">
            </div>
        </div>
        <div class="item3 item">
            <div class="alanID">
                <input type="number" name="alanID" class="item_alanID">
                <label for="alanID" class="label_item_alanID" style="color: black;">Bu Alan ID yok</label>
            </div>
            <div class="sinifID">
                <input type="number" name="sinifID" class="item_sinifID">
                <label for="alanID" class="label_item_sinifID" style="color: black;">Bu Sınıf ID yok</label>
            </div>
            <div class="mudahaleID">
                <input type="number" name="mudahaleID" class="item_müdahaleID">
                <label for="alanID" class="label_item_mudahaleID" style="color: black;">AlanID + SınıfID + MüdahaleID var</label>
            </div>
            <div class="mudahaleadi">
                <input type="text" name="müdahaleadi" class="item_müdahaleadi">
            </div>
            <div class="button1">
                <input type="button" value="Güncelle" class="button update">
                <button class="quit">Vazgeç</button>
            </div>
            <div class="button2">
                <input type="button" value="Sil" class="button delete">
            </div>
        </div>
        <div class="item4 item">
            <div class="alanID">
                <input type="number" name="alanID" class="item_alanID">
                <label for="alanID" class="label_item_alanID" style="color: black;">Bu Alan ID yok</label>
            </div>
            <div class="sinifID">
                <input type="number" name="sinifID" class="item_sinifID">
                <label for="alanID" class="label_item_sinifID" style="color: black;">Bu Sınıf ID yok</label>
            </div>
            <div class="mudahaleID">
                <input type="number" name="mudahaleID" class="item_müdahaleID">
                <label for="alanID" class="label_item_mudahaleID" style="color: black;">AlanID + SınıfID + MüdahaleID var</label>
            </div>
            <div class="mudahaleadi">
                <input type="text" name="müdahaleadi" class="item_müdahaleadi">
            </div>
            <div class="button1">
                <input type="button" value="Güncelle" class="button update">
                <button class="quit">Vazgeç</button>
            </div>
            <div class="button2">
                <input type="button" value="Sil" class="button delete">
            </div>
        </div>
        <div class="item5 item">
            <div class="alanID">
                <input type="number" name="alanID" class="item_alanID">
                <label for="alanID" class="label_item_alanID" style="color: black;">Bu Alan ID yok</label>
            </div>
            <div class="sinifID">
                <input type="number" name="sinifID" class="item_sinifID">
                <label for="alanID" class="label_item_sinifID" style="color: black;">Bu Sınıf ID yok</label>
            </div>
            <div class="mudahaleID">
                <input type="number" name="mudahaleID" class="item_müdahaleID">
                <label for="alanID" class="label_item_mudahaleID" style="color: black;">AlanID + SınıfID + MüdahaleID var</label>
            </div>
            <div class="mudahaleadi">
                <input type="text" name="müdahaleadi" class="item_müdahaleadi">
            </div>
            <div class="button1">
                <input type="button" value="Güncelle" class="button update">
                <button class="quit">Vazgeç</button>
            </div>
            <div class="button2">
                <input type="button" value="Sil" class="button delete">
            </div>
        </div>
        <div class="pagination">
            <div class="backpage">
                <a href="./"><input type="button" value="Anasayfaya git"></a>
            </div>
            <div class="previous">
                <button id="prev_btn"><<</button>
            </div>
            <div class="next">
                <button id="next_btn">>></button>
            </div>
        </div>
    </div>
    <script src="../static/js/admin_intervention.js"></script>
</body>
</html>