<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/personel_nextpage.css">
    <title>Document</title>
</head>
<body>
    <div class="problemler manage">
        <div class="f1">PROBLEMLER FORMU</div>
    </div>
    <div class="problemmüdahaleleri manage">
        <div class="f2">PROBLEM MÜDAHALELERİ FORMU</div>
    </div>
    <div class="problemçıktıları manage">
        <div class="f3">PROBLEM ÇIKTILARI FORMU</div>
    </div>
    <div class="ilavemüdahaledetaylar manage">
        <div class="f4">İLAVE MÜDAHALE DETAYLAR FORMU</div>
    </div>
    <div class="ilaveçıktıdetaylar manage">
        <div class="f5">İLAVE ÇIKTI DETAYLAR FORMU</div>
    </div>
    <div class="personelproblem manage">
        <div class="f6">PERSONEL-PROBLEM FORMU</div>
    </div>
    <div class="problemçıktıdeğerlendirme manage">
        <div class="f7">PROBLEM ÇIKTI DEĞERLENDİRME FORMU</div>
    </div>
    <div class="çalışanproblem manage">
        <div class="f8">ÇALIŞAN PROBLEM FORMU</div>
    </div>
    <div class="problemdurumdeğerlendirme manage">
        <div class="f9">PROBLEM DURUM DEĞERLENDİRME FORMU</div>
    </div>
    
    <div class="previouspage">
        <button id="previouspage" style="border-radius: 10px;color: white;background-color: red;">ÖNCEKİ SAYFA</button>
    </div>
    <script src="../static/js/personel_nextpage.js"></script>
</body>
</html>