<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/personel_home.css">
    <title>Document</title>
</head>
<body>
    <div class="manage-alan manage">
        <div class="f1">ALANLAR FORMU</div>
    </div>
    <div class="manage-sinif manage">
        <div class="f2">SINIFLAR FORMU</div>
    </div>
    <div class="manage-cikti manage">
        <div class="f3">ÇIKTILAR FORMU</div>
    </div>
    <div class="manage-belirtec manage">
        <div class="f4">BELİRTEÇLER FORMU</div>
    </div>
    <div class="manage-problembirim manage">
        <div class="f5">PROBLEM-BİRİM FORMU</div>
    </div>
    <div class="manage-problem manage">
        <div class="f6">PROBLEMLER FORMU</div>
    </div>
    
    <div class="previouspage">
        <button id="previouspage" style="border-radius: 10px;color: white;background-color: red;">ÇIKIŞ</button>
     </div>
    <script src="../static/js/personel_home.js"></script>
</body>
</html>