<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/personel_problemunit.css">
    <title>Document</title>
</head>
<body>
    <div class="filters">
        <div class="problemID">
            <input type="number" name="problemID" placeholder="Problem ID" id="filter_problemID">
            <label for="problemID" class="label_item_problemID" style="color: black;bottom: 20%;">ProblemID+BirimID var</label>
        </div>
        <div class="birimID">
            <input type="number" name="birimID" placeholder="Birim ID" id="filter_birimID">
            <label for="birimID" class="label_item_birimID" style="color: black;bottom: 20%;">ProblemID+BirimID var</label>
        </div>
        <div class="eslesmetarihi">
            <input type="date" name="eslesmetarihi" placeholder="Eşleşme Tarihi" id="filter_eslesmetarihi">
        </div>
        <div class="button1">
            <input type="button" value="Eşleşme Oluştur" class="button" id="filter_create" style="color:white;background-color: green;">
        </div>
        <div class="button2">
            <input type="button" value="Eşleşme Listele" class="button" id="filter_list" style="color:white;background-color: blue;">
        </div>
    </div>
    <div class="list">
        <div class="title">
            <div class="text">PROBLEM-BİRİM TABLOSU</div>
        </div>
        <div class="labels">
            <div class="label1">PROBLEM ID</div>
            <div class="label2">BİRİM ID</div>
            <div class="label3">EŞLEŞME TARİHİ</div>
            <div class="label4">GÜNCELLE-VAZGEÇ</div>
            <div class="label5">SİL</div>
        </div>
        <div class="item1 item">
            <div class="problemID">
                <input type="number" name="problemID" class="item_problemID">
                <label for="problemID" class="label_item_problemID" style="color: black;bottom: 20%;">ProblemID+BirimID var</label>
            </div>
            <div class="birimID">
                <input type="number" name="birimID" class="item_birimID">
                <label for="birimID" class="label_item_birimID" style="color: black;bottom: 20%;">ProblemID+BirimID var</label>
            </div>
            <div class="eslesmetarihi">
                <input type="date" name="eslesmetarihi" class="item_eslesmetarihi">
            </div>
            <div class="button1">
                <input type="button" value="Güncelle" class="button update">
                <button class="quit">Vazgeç</button>
            </div>
            <div class="button2">
                <input type="button" value="Sil" class="button delete">
            </div>
        </div>
        <div class="item2 item">
            <div class="problemID">
                <input type="number" name="problemID" class="item_problemID">
                <label for="problemID" class="label_item_problemID" style="color: black;bottom: 20%;">ProblemID+BirimID var</label>
            </div>
            <div class="birimID">
                <input type="number" name="birimID" class="item_birimID">
                <label for="birimID" class="label_item_birimID" style="color: black;bottom: 20%;">ProblemID+BirimID var</label>
            </div>
            <div class="eslesmetarihi">
                <input type="date" name="eslesmetarihi" class="item_eslesmetarihi">
            </div>
            <div class="button1">
                <input type="button" value="Güncelle" class="button update">
                <button class="quit">Vazgeç</button>
            </div>
            <div class="button2">
                <input type="button" value="Sil" class="button delete">
            </div>
        </div>
        <div class="item3 item">
            <div class="problemID">
                <input type="number" name="problemID" class="item_problemID">
                <label for="problemID" class="label_item_problemID" style="color: black;bottom: 20%;">ProblemID+BirimID var</label>
            </div>
            <div class="birimID">
                <input type="number" name="birimID" class="item_birimID">
                <label for="birimID" class="label_item_birimID" style="color: black;bottom: 20%;">ProblemID+BirimID var</label>
            </div>
            <div class="eslesmetarihi">
                <input type="date" name="eslesmetarihi" class="item_eslesmetarihi">
            </div>
            <div class="button1">
                <input type="button" value="Güncelle" class="button update">
                <button class="quit">Vazgeç</button>
            </div>
            <div class="button2">
                <input type="button" value="Sil" class="button delete">
            </div>
        </div>
        <div class="item4 item">
            <div class="problemID">
                <input type="number" name="problemID" class="item_problemID">
                <label for="problemID" class="label_item_problemID" style="color: black;bottom: 20%;">ProblemID+BirimID var</label>
            </div>
            <div class="birimID">
                <input type="number" name="birimID" class="item_birimID">
                <label for="birimID" class="label_item_birimID" style="color: black;bottom: 20%;">ProblemID+BirimID var</label>
            </div>
            <div class="eslesmetarihi">
                <input type="date" name="eslesmetarihi" class="item_eslesmetarihi">
            </div>
            <div class="button1">
                <input type="button" value="Güncelle" class="button update">
                <button class="quit">Vazgeç</button>
            </div>
            <div class="button2">
                <input type="button" value="Sil" class="button delete">
            </div>
        </div>
        <div class="item5 item">
            <div class="problemID">
                <input type="number" name="problemID" class="item_problemID">
                <label for="problemID" class="label_item_problemID" style="color: black;bottom: 20%;">ProblemID+BirimID var</label>
            </div>
            <div class="birimID">
                <input type="number" name="birimID" class="item_birimID">
                <label for="birimID" class="label_item_birimID" style="color: black;bottom: 20%;">ProblemID+BirimID var</label>
            </div>
            <div class="eslesmetarihi">
                <input type="date" name="eslesmetarihi" class="item_eslesmetarihi">
            </div>
            <div class="button1">
                <input type="button" value="Güncelle" class="button update">
                <button class="quit">Vazgeç</button>
            </div>
            <div class="button2">
                <input type="button" value="Sil" class="button delete">
            </div>
        </div>
        <div class="pagination">
            <div class="backpage">
                <a href="./"><input type="button" value="Anasayfaya git"></a>
            </div>
            <div class="previous">
                <button id="prev_btn"><<</button>
            </div>
            <div class="next">
                <button id="next_btn">>></button>
            </div>
        </div>
    </div>
    <script src="../static/js/personel_problemunit.js"></script>
</body>
</html>